<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>${env.DOMAIN_ACCOUNT}-${env.DOMAIN_REPO}</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>${env.DOMAIN_ACCOUNT}-${env.DOMAIN_REPO}</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>${env.DOMAIN_ACCOUNT}-${env.DOMAIN_REPO}</id>
          <url>https://${env.DOMAIN_ACCOUNT}-${env.DOMAIN_OWNER}.d.codeartifact.ap-northeast-1.amazonaws.com/maven/${env.DOMAIN_REPO}/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>